@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre');
@import url('https://fonts.googleapis.com/css?family=Almendra+SC');
@import url('https://fonts.googleapis.com/css?family=Cardo');






html, body{
    text-align: center;
    background-color: rgba(208, 188, 213, 1);
    color: #111111;
  }

h1{
    font-family: "Almendra SC", serif;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-align: center;
    font-size: 60px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: rgb(4, 54, 215);
    background-color: rgba(84, 84, 84, 0);
    text-shadow: rgb(139, 14, 14) -2px 3px 3px;
}

h2{
    font-family: Cardo, serif;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: rgb(0, 0, 0);
    background-color: rgba(84, 84, 84, 0);
    text-shadow: rgb(186, 8, 8) -2px 3px 5px;
}


.top {
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 50px;
    padding-left: 5px;
}

.posts {
    /* grid-area: posts; */
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 50px;
    padding-left: 5px;
    border-style: groove;
    background-color: lightgrey;
    box-shadow: 0px 70px 100px blue;
}

